include README.md
include LICENSE

recursive-include randomsdss *.md
recursive-include randomsdss *.ply
recursive-include docs/source/_static *.png

exclude tox.ini
exclude pyproject.toml
exclude test_*.py

recursive-exclude docs *