include README.md
include LICENSE

recursive-include randomsdss *.md
recursive-include docs/source/_static *.png
recursive-include randomsdss/data *.ply

exclude tox.ini
exclude pyproject.toml
exclude test_*.py

recursive-exclude docs *